# Node modules and dependency directories
node_modules/
dist/
build/

# Environment variables
.env
.env.local

# VS Code settings
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tmp

# Temporary files
.DS_Store
*.tmp
*.swp

# Angular cache
.angular/

# OS-specific files
Thumbs.db

# Python virtual environment
venv/
.ttw_backend_env/

# Django-related
*.pyc
__pycache__/
db.sqlite3
migrations/
*.pyo

# Python environment and testing tools
Pipfile
Pipfile.lock
.coverage
*.cover
*.pytest_cache/
htmlcov/

# IDE-specific files
.idea/
*.iml

# Generated documentation
/build/
docs/_build/

# Temporary development artifacts
*.bak
*.log

# Deployment
*.env.production
*.env.development
*.env.testing
*.secret
secrets.json

# Ignore static and media files if generated dynamically
static/
media/
