@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

html, body { 
    height: 100%; 
    margin: 0; /* Ensure no default margins */
    padding: 0; /* Ensure no default padding */
}

*,
*::before,
*::after {
    box-sizing: border-box; /* Ensure consistent box-sizing */
}