<!-- src/app/home/home.component.html -->
<div class="relative w-full">
  <!-- Center Box -->
  <main class="text-center">
    <div class="bg-black/70 p-8 rounded-lg shadow-lg">
      <h1 class="text-2xl font-semibold text-white mb-4">
        Your secure time traveler code is
      </h1>
      <p class="text-lg font-mono text-gray-200 break-words">
        {{ secureCode }}
      </p>

      <button
        (click)="copySecureCode()"
        class="mt-4 bg-gray-500 hover:bg-gray-600 text-white px-4 py-2 rounded cursor-pointer transition"
      >
        Copy Token
      </button>

      <!-- Display User Info if Logged In -->
      <div *ngIf="user$ | async as user" class="mt-6">
        <h2 class="text-xl text-white">Logged in as: {{ user.displayName }}</h2>
        <img [src]="user.photoURL" alt="User Avatar" class="h-16 w-16 rounded-full mt-2">
      </div>
    </div>
  </main>
</div>
